* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main {
    background-image: url(./images/leder.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100vh;
    filter: blur(4px);
    transition: 1s;
    filter: blur(0px);
}
h1 {
    font-size: 50px;
    color: red;
    margin-bottom: 40px;
    padding: 5px;
    width: 500px;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.4);
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 350px;
    margin-right: 0;
}
button {
    border: none;
    background-color: green;
    width: 150px;
    height: 70px;
    font-size: 25px;
}
#showcase {
    position: absolute;
    top: 40vh;
    left: 10vw;
}
.header {
    display: flex;
    background-color: rgba(100, 255, 100, 0.2);
    position: fixed;
    width: 100%;
    justify-content: space-between;
}
nav {
    display: inline-grid;
    gap: 10px;
    grid-auto-flow: column;
    justify-content: end;
}
nav a {
    color: darkred;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
}
#logo {
    width: 100px;
}