* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    display: flex;
    background-color: rgba(100, 255, 100, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
}
body {
    background-color: #f2eded;
}
nav {
    display: inline-grid;
    gap: 10px;
    grid-auto-flow: column;
    justify-content: end;
}
nav a {
    color: darkred;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
}
#logo {
    width: 100px;
}
main {
    margin-top: 100px;
}
h1 {
    margin-bottom: 10px;
    margin-left: 200px;
    color: rgb(70, 70, 70);
    font-size: 45px;
}
.sak {
    display: flex;
    width: 300px;
    height: 300px;
    min-width: 300px;
    font-size: 40px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    filter: grayscale(50%) contrast(120%);
    transition: 0.2s;
    border: 1px solid gray;
    text-align: center;
    color: salmon;
    text-decoration: none;
}
.sak:hover {
    transform: scale(1.2);
    z-index: 1;
    filter: grayscale(0%); 
    /* color: rgba(0, 0, 0, 0); */
    color: red;
}
.oversikt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 200px;
    gap: 5px;
}
.sak:nth-child(1) {background-image: url(./images/klima.jpg);}
.sak:nth-child(2) {background-image: url(./images/likestilling.jpg);}
.sak:nth-child(3) {background-image: url(./images/inkludering.jpg);}
.sak:nth-child(4) {background-image: url(./images/flyktning.jpg);}
.sak:nth-child(5) {background-image: url(./images/fred.jpg);}
.sak:nth-child(6) {background-image: url(./images/arbeider.jpg);}